body{
    height: 3000px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#nav {
    background-color: #9fc5f8;
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
}

.title {
    color: white;
}


.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.links a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#main {
    padding: 0% 6%;
}

.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.line {
    /* display: flex;
    background-color: black; */
    /* height: 2%;
    width: 100%; */
    border-bottom: 2px solid black;
}

.showTemp {
    display: flex;
    align-items: center; 
}

.days {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.img {
    border-radius: 50%;
    height: 60%;
    width: 60%;
}

.daytemp {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    height: 100%;
    width: 20%;
}

.num {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 4%;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.stop {
    background-color: #eeeeee;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1%;
    margin-top: 3%;
    align-items: center;
    position: fixed;
    width: 80%;
    margin-left: 2%;
}

.accept {
    background-color: #9fc5f8;
    border: 3px solid black;
    box-shadow: 4px 4px 4px black;
    height: 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.cookie {
    border-radius: 50%;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

span{
    margin-left: 5px;
} 

